/* Typing 
@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "k"; }
    2.2791%, 25.0698% { content: "ke"; }
    3.4186%, 23.9302% { content: "ker"; }
    4.5581%, 22.7907% { content: "kerr"; }
    5.6977%, 21.6512% { content: "kerri"; }
    6.8372%, 20.5116% { content: "kerri d"; }
    7.9767%, 19.3721% { content: "kerri de"; }
    9.1163%, 18.2326% { content: "kerri deo"; }
    10.2558%, 17.0930% { content: "kerri deo."; }
  
    30.7674%, 61.2791% { content: "a"; }
    31.9070%, 60.1395% { content: "a g"; }
    33.0465%, 59.0000% { content: "a gr"; }
    34.1860%, 57.8605% { content: "a gra"; }
    35.3256%, 56.7209% { content: "a grap"; }
    36.4651%, 55.5814% { content: "a graph"; }
    37.6047%, 54.4419% { content: "a graphi"; }
    38.6977%, 53.2093% { content: "a graphic"; }
    39.8372%, 52.0698% { content: "a graphic "; }
    40.9767%, 51.9302% { content: "a graphic d"; }
    41.1163%, 50.7907% { content: "a graphic des"; }
    42.2558%, 49.6512% { content: "a graphic desi"; }
    43.3953%, 48.5116% { content: "a graphic design"; }
    44.5349%, 47.3721% { content: "a graphic designer."; }
  
    78.6279%, 96.8605% { content: "a"; }
    79.7674%, 95.7209% { content: "a ph"; }
    80.9070%, 94.5814% { content: "a phot"; }
    82.0465%, 93.4419% { content: "a photog"; }
    83.1860%, 92.3023% { content: "a photogra"; }
    84.3256%, 91.1628% { content: "a photograph"; }
    85.5525%, 90.1500% { content: "a photographer"; }
  
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 15s infinite;
  }
  
  .typewriter::after {
    content: "|";
    animation: blink 0.5s linear infinite;
  }
  
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "a graphic designer"; }
      75% { content: "a photographer"; }
      
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  /* go down */
  @keyframes up-down {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(-90deg);

    } 
    40%, 60% {
        transform: translateY(-15px)  rotate(-90deg);;
    }
}
/* setting */
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }

  100% {transform: rotate(360deg);}
}